/app/settings.php
/app/dependencies.php

/tests/*
/phpunit.xml

/var
/logs

/vendor

/web/bundles/
/web/upload/

/composer.json
/composer.phar
/composer.lock

/.idea
/.project

*DS_Store

*.swp
*.swo
*.swn

